body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header  {
    background: blue;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}


header h1 {
    margin: 0;
    font-size: 2.5em;
}
section {
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #35424a;
}
.highlight{
    color: black;
    font-weight: bold;
}
.emphasize{
        font-style: italic;
}

hr{
    background: blue;
    padding: 1px;
    border: 1em; ;

}
